{
  "extends": ["plugin:vue/recommended", "airbnb"],
  "rules": {
    "vue/max-attributes-per-line": ["error", {
      "singleline": 3,
      "multiline": {
        "max": 3,
        "allowFirstLine": false
      }
    }]
  }
}
